@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500;700&display=swap');

html[data-theme='light'] {
  --surface_primary: #f4f4f5;
  --surface_secondary: #ffffff;
  --surface_secondary_hover: #e4e4e7;
  --stroke: #d4d4d8;
  --text_primary: #27272a;
  --text_secondary: #71717a;
}

html[data-theme='dark'] {
  --surface_primary: #18181b;
  --surface_secondary: #3f3f46;
  --surface_secondary_hover: #52525b;
  --stroke: #52525b;
  --text_primary: #f4f4f5;
  --text_secondary: #a1a1aa;
}

:root {
  --brand: #e02041;
  --brand_hover: #e64c66;
  --text_on_brand: #ffffff;
  font-size: 18px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html,
body,
#root {
  height: 100vh;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  background: var(--surface_primary);
  margin: 0;
  line-height: inherit;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
