#List.container {
  height: 100vh;
  width: 100vw;
}

#List main {
  padding: 24px;
}

#List .headerText {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
  color: #737380;
}

#List p.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #737380;
  margin-bottom: 38px;
}
