#Show {
  height: 100vh;
  width: 100vw;
}

#Show main {
  padding: 24px;
}

#Show #contactCard {
  margin-top: 16px;
}

#Show #contactCard main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#Show .saveTheDay {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-primary-title);
}

#Show .contact {
  font-size: 15px;
  line-height: 20px;
  color: var(--color-text);
}

#Show .buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}

#Show .buttonsContainer button {
  flex-grow: 1;
}
